### 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that can be easily accessed, managed, and updated. It is designed to store and organize data so that it can be retrieved quickly and efficiently. Databases are used in various applications, including e-commerce, finance, healthcare, and social media.

There are two main types of databases: SQL and NoSQL.

Here are some key differences between SQL and NoSQL databases:

Data Model: SQL databases use the relational model, while NoSQL databases use different data models such as key-value, document, column-family, or graph.

Scalability: NoSQL databases are generally more scalable than SQL databases because they can easily distribute data across multiple servers.

Flexibility: NoSQL databases are more flexible than SQL databases because they do not have a fixed schema, and data can be added or removed without the need for a database schema change.

Querying: SQL databases use SQL for querying data, which is a standardized language for relational databases. NoSQL databases use different query languages for different data models.

ACID compliance: SQL databases are generally ACID-compliant, which means that they ensure data consistency, while NoSQL databases often prioritize availability and partition tolerance over consistency.

Use cases: SQL databases are often used for enterprise applications that require complex querying and transactions. NoSQL databases are often used for web applications and big data analytics that require scalability and flexibility.

### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define the structure of a database, including creating, modifying, and deleting database objects such as tables, indexes, and constraints.

Here are some commonly used DDL commands and their purposes:

CREATE: The CREATE command is used to create new database objects, such as tables, indexes, views, and stored procedures. Example:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);

DROP: The DROP command is used to delete existing database objects, such as tables, indexes, views, and stored procedures.Example:

DROP TABLE employees;

ALTER: The ALTER command is used to modify existing database objects, such as tables, indexes, and constraints. Example:

ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);

TRUNCATE: The TRUNCATE command is used to delete all data from a table without deleting the table structure itself. Example:

TRUNCATE TABLE employees;

### 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to modify the data stored in a database.

INSERT: The INSERT command is used to add new rows to a table. Example:

INSERT INTO employees (id, name, department, salary)
VALUES (1, 'John Smith', 'Marketing', 50000.00);

UPDATE: The UPDATE command is used to modify existing rows in a table. Example:

UPDATE employees
SET salary = 55000.00
WHERE id = 1;

DELETE: The DELETE command is used to remove one or more rows from a table.Example:

DELETE FROM employees
WHERE id = 1;

### 4.What is DQl? Explain with example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands allow users to select specific data from a table or multiple tables based on certain criteria.

SELECT: The SELECT command is used to retrieve data from a table or multiple tables based on certain criteria. Example:

SELECT * FROM employees;

DISTINCT: The DISTINCT command is used to retrieve unique values from a table. Example:

SELECT DISTINCT department FROM employees;

GROUP BY: The GROUP BY command is used to group data based on a specific column or set of columns. Example:

SELECT department, SUM(salary) AS total_salary
FROM employees
GROUP BY department;

### 5. Explain Primary Key and Foreign Key.

Primary key and foreign key are both important concepts in relational databases, which are based on the relational model of data.

A primary key is a unique identifier for a table, which is used to uniquely identify each row in the table. A primary key can be composed of one or more columns and is used to enforce the integrity of the data in the table. Each table can have only one primary key, and it cannot contain null or duplicate values.

A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables and enforce referential integrity. The foreign key column in one table contains values that match the primary key values in another table. This allows for the creation of a "parent-child" relationship between the two tables, where the "parent" table has the primary key and the "child" table has the foreign key.

### 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

### 7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM - specifies the table or tables from which to retrieve data.

JOIN - combines rows from two or more tables based on a related column between them.

WHERE - filters the rows returned by the query based on a specified condition.

GROUP BY - groups the rows returned by the query based on one or more columns, and applies an aggregate function (such as SUM, COUNT, AVG) to each group.

HAVING - filters the groups returned by the query based on a specified condition.

SELECT - specifies the columns to retrieve from the table, and applies any aggregate functions to the data.

ORDER BY - sorts the rows returned by the query based on one or more columns, in ascending or descending order.

LIMIT - limits the number of rows returned by the query.