### 1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### 2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### 3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### 4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [13]:
'''In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially 
different types. It is similar to a spreadsheet or a SQL table, and can be thought of as a collection 
of Pandas Series that share the same index.

The key differences between a Pandas Series and a DataFrame is: a Series is a one-dimensional array-like 
object that can hold any data type, while a DataFrame is a two-dimensional table-like data structure that
can hold multiple Series of different data types.'''

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'Gender': ['Female', 'Male', 'Male']}

df = pd.DataFrame(data)
print(df)

'''In this example, the DataFrame has three columns (Name, Age, and Gender) and three rows
(corresponding to each person). Each column is a Series, and they share the same index (0, 1, and 2 
in this case). We can access each column by using its label like this:'''

names = df['Name']
ages = df['Age']
genders = df['Gender']

#Each of these variables (names, ages, and genders) will be a Series object with its own index and values.
#Example:
names

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

### 5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions that are frequently used:

df.head(): This function returns the first n rows of a DataFrame. For example, df.head(10) will return the first 10 rows of a DataFrame.

df.tail(): This function returns the last n rows of a DataFrame. For example, df.tail(10) will return the last 10 rows of a DataFrame.

df.info(): This function provides a summary of a DataFrame's columns, including data types, non-null values, and memory usage.

df.describe(): This function provides summary statistics of a DataFrame's numeric columns, including count, mean, standard deviation, minimum, and maximum values.

df.groupby(): This function groups a DataFrame by one or more columns and allows you to perform operations on each group. For example, df.groupby('category')['sales'].sum() will group a DataFrame by the category column and calculate the sum of the sales column for each group.

df.sort_values(): This function sorts a DataFrame by one or more columns. For example, df.sort_values(by='date') will sort a DataFrame by the date column in ascending order.

df.drop(): This function drops one or more columns or rows from a DataFrame. For example, df.drop(['column1', 'column2'], axis=1) will drop the column1 and column2 columns from a DataFrame.

df.fillna(): This function fills in missing values in a DataFrame with a specified value or method. For example, df.fillna(method='ffill') will fill in missing values with the previous value in the same column.

df.merge(): This function merges two or more DataFrames based on a common column or index. For example, pd.merge(df1, df2, on='id') will merge df1 and df2 based on the id column.

### 6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature, whereas Panel is considered deprecated in recent versions of Pandas and is no longer recommended for use.

Panels were originally introduced in Pandas to handle three-dimensional data. However, it was found that most use cases for three-dimensional data could be handled more effectively using other data structures, such as multi-indexed DataFrames.

As a result, Panels have been deprecated in Pandas since version 0.20.0 and are no longer recommended for use. Instead, multi-indexed DataFrames or nested dictionaries are used to represent three-dimensional data. Multi-indexed DataFrames provide an intuitive way to represent higher-dimensional data by allowing you to create a DataFrame with multiple levels of indexing, while nested dictionaries allow you to represent a hierarchy of dictionaries, each containing a DataFrame or Series.

### 7.Create a DataFrame using multiple Series. Explain with an example.

In [12]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles', 'Chicago'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

print(df)

'''In this example, we create three Series representing data for three columns in a DataFrame: names, 
ages, and cities. We then create a DataFrame using these three Series using the pd.DataFrame() function,
where we pass in a dictionary with column names as keys and the corresponding Series as values.

The resulting DataFrame has three columns: Name, Age, and City. Each column contains the data from
the corresponding Series. The index of the DataFrame is automatically generated as a range of integers
from 0 to the number of rows in the DataFrame (in this case, 4).'''

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

'In this example, we create three Series representing data for three columns in a DataFrame: names, \nages, and cities. We then create a DataFrame using these three Series using the pd.DataFrame() function,\nwhere we pass in a dictionary with column names as keys and the corresponding Series as values.\n\nThe resulting DataFrame has three columns: Name, Age, and City. Each column contains the data from\nthe corresponding Series. The index of the DataFrame is automatically generated as a range of integers\nfrom 0 to the number of rows in the DataFrame (in this case, 4).'