## Measure Of Dispersion

In [ ]:
##variance

ages_lst=[23,43,23,56,74,32,68,98,45,32]

In [ ]:
import numpy as np

In [ ]:
mean=np.mean(ages_lst)

In [ ]:
mean

49.4

In [ ]:
var=np.var(ages_lst)
var

541.64

In [ ]:
std=np.std(ages_lst)
std

23.273160507331188

In [ ]:
import pandas as pd

In [ ]:
data=[[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [ ]:
df=pd.DataFrame(data,columns=["A","B","C"])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [ ]:
df.var()

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [ ]:
## Row wise
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64

In [ ]:
## coulmnwise
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64